.recording-panel {
    padding: 2rem;
    width: 640px;
    height:640px;
    transition: background-color 1s;
    box-sizing: border-box;
}

video {
    width: 100%; 
    height: 100%; 
    background: #FFF;
    border: 1px solid red;
}

button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
}

select {
    position: fixed;
    top: 20px;
    left: 150px;
    padding: 10px;
}

.cam-panel {
    position: absolute;
    width: 320px;
    height: 240px;
    background: none;
    z-index: 10000;
    cursor: move;
    border: 1px solid rgba(43,42,48,0.5);
    padding: 10px;
    top: 20px;
    left: 20px;
    /*pointer-events: none*/
    
    button, select {
        position: relative;
        top: auto;
        left: auto;
        margin: 5px;
    }
    
    &:hover {
        border-color: #00ff00;
    }
    
    .resize-handle {
        
        position: absolute;
        width: 20px;
        height: 20px;
        background: #fff;
        right: -5px;
        bottom: -5px;
        cursor: se-resize;
		&:hover {
			border : 1px dotted #00ff00;
		}
    }

    .cam-controls {
		position:absolute;
		top : 100%;
		left: 0px;
		width:100%;
		border:1px solid red;
	}
}

.hidden {
    display: none;
}

.visible {
    display: block;
}